{% extends 'root.twig' %}

{% set title = 'Contact us'|trans %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>{{ title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-7">
			<h2>{% trans %}We &hearts; feedback{% endtrans %}</h2>
			<p>{% trans %}We here are all fans of Clonk. We built this site as members of our community for the game and want to do our best.{% endtrans %}</p>
			<p>{% trans %}If you have any wishes or should encounter any problem, do not hesitate to contact us:{% endtrans %}</p>
			<form method="post">
				<div class="form-group">
					<textarea class="form-control" rows="6" required></textarea>
				</div>
				<button class="btn btn-primary" type="submit">{% trans "Send feedback" %}</button>
			{% if by %}
				{% set sender = by|escape('html') %}
				<span class="btn "disabled>{% trans %}Sending as {{sender}}.{% endtrans %}</span>
			{% endif %}
			</form>
		</div>
		<div class="col-md-5">
			<h2>{% trans %}Legal issues{% endtrans %}</h2>
		{% if site_trademark %}
			<p>{{ site_trademark|raw }}.</p>
		{% endif %}
			<p><span>If you have any legal issues please do not hesitate to contact us either via our feedback form <span class="hidden-phone">to the left</span><span class="visible-phone">above</span> or via <a href="mailto:">legal@example.com</a>.</span></p>
			<p>{% trans %}That way we are able to quickly resolve to any problems that might occur or any content you feel might be infringing your rights.{% endtrans %}</p>
			<p>{% trans %}We are not responsible for the content of outgoing links. User generated content does not necessarily reflect the views of the site owners.{% endtrans %}</p>
		{% if site_contact %}
			<hr>
			<h3>{% trans %}Responsible for the content{% endtrans %}</h3>
			<address>
			{{ site_contact|raw }}
			</address>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}