{% extends 'root.twig' %}

{% set title = 'Administration'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid">
	<div class="span12">
		<h2>{% trans %}Overview{% endtrans %}</h2>
	</div>
</div>
{% endblock %}