{% extends 'root.twig' %}

{% set title = 'Moderation'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid">
	<div class="span4">
		<h2>{% trans %}Overview{% endtrans %}</h2>
		<h4>{% trans %}Users{% endtrans %}</h4>
		<a href="{{base}}/users" class="btn btn-primary">Show all users</a>
		<a href="{{base}}/users" class="btn">Show bans</a>
	</div>
	<div class="span4">
		<h2>{% trans %}Addons{% endtrans %}</h2>
		<h4>{% trans %}Awaiting approval{% endtrans %}</h4>
		<p class="alert alert-warning">{% trans %}There are no addons in the approval queue.{% endtrans %}</p>
	</div>
	<div class="span4">
		<h2>{% trans %}Contact form{% endtrans %}</h2>
		<h4>{% trans %}Queue{% endtrans %}</h4>
		<p class="alert alert-warning">{% trans %}There are no new messages in the queue.{% endtrans %}</p>
	</div>
</div>
{% endblock %}