{% extends 'root.twig' %}

{% set title = 'Moderation'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row-fluid">
	<div class="span4">
		<h2>{% trans %}Overview{% endtrans %}</h2>
		<h4>{% trans %}Users{% endtrans %}</h4>
	</div>
	<div class="span4">
		<h2>{% trans %}Addons{% endtrans %}</h2>
		<h4>{% trans %}Awaiting approval{% endtrans %}</h4>
		<p class="alert alert-warning">There are no addons in the approval queue.</p>
	</div>
	<div class="span4">
		<h2>{% trans %}Contact form{% endtrans %}</h2>
		<h4>{% trans %}Queue{% endtrans %}</h4>
		<p class="alert alert-warning">There are no new messages in the queue.</p>
		<h4>{% trans %}Completed{% endtrans %}</h4>
		<p class="alert alert-warning">There are no completed messages.</p>
	</div>
</div>
{% endblock %}