{% extends 'root.twig' %}

{% set title %}
	{% trans %}Connect with {{brand}}{% endtrans %}
{% endset %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{% trans %}Connect{% endtrans %}</h1>
		</div>
	</div>

{% endblock %}
