{% extends 'root.twig' %}

{% block content %}
<h1 class="form-register-heading">{% trans "Register" %}</h1>
<div class="row-fluid">
    <div class="span4">{% if message %}
		<div class="alert {% if success %}alert-success{% else %}alert-error{% endif %}">{{ message | raw}}</div>{% endif %}
		<form class="form-register" method="post">
			<label for="username"></label>
			<input type="text" class="input-block-level" name="username" id="username" placeholder="{% trans "Username" %}" data-toggle="tooltip" title="first tooltip" {% if username%}value="{{username}}"{% else %}autofocus{% endif %}>
			<label for="email"></label>
			<input type="email" class="input-block-level" name="email"  id="email" placeholder="{% trans "Email address" %}"{% if email%} value="{{email}}"{% endif %}>
			<label for="password"></label>
			<input type="password" class="input-block-level" name="password"  id="password" placeholder="{% trans "Password" %}">
			<label for="password-repeat"></label>
			<input type="password" class="input-block-level" name="password-repeat" id="password-repeat" placeholder="{%trans "Confirm password" %}">
			<button class="btn btn-large btn-primary" type="submit">{% trans "Register" %}</button>
			<a href="{{base}}/login" class="btn btn-link">{% trans "Already registered?" %}</a>
		</form>
		<hr>
		<div class="social">
			<h4>{% trans %}Alternatively use a login service:{% endtrans %}</h4>
			{% include "functions/openid.twig "%}
		</div>
	</div>
	<div class="span8">
		<hr class="visible-phone">
		<h4>{% trans %}Why should I register?{% endtrans %}</h4>
		<p>{% trans %}After registering you can instantly upload your own scenarios, comment and vote.{% endtrans %}</p>
		<p>{% trans %}You become part of a small but dedicated community, enjoying the game and devoting their time to it.{% endtrans %}</p>
	</div>
</div>
{% endblock %}