{% extends 'root.twig' %}

{% set title = 'Administrator portal'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>{% trans %}Management{% endtrans %}</h2>
                <h3>{% trans %}Front page{% endtrans %}</h3>
				<a href="{{base}}/banners" class="btn btn-default">{% trans "Banner" %}</a>
                <h3>{% trans %}Platform{% endtrans %}</h3>
				<a href="{{base}}/administrator/logs" class="btn btn-default">{% trans "Logs" %}</a>
				{% if statistics %}<a href="{{statistics}}" class="btn btn-info">{% trans "Statistics" %}</a>{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
