{% extends 'root.twig' %}

{% block content %}
<h1>{{title}}</h1>
<div class="addon-wide">
	<strong>Codename: Modern Combat</strong>
</div>
<div class="addon-wide">
	<strong>Clonk Infinity</strong>
</div>
{% endblock %}