<a href="{{url|raw}}" style="text-decoration:none;margin:0px;display:inline-block;font-weight:normal;text-align:center;vertical-align:middle;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857;border-radius:4px;{% block button_style %}color:#333;background-color:#FFF;border-color:#CCC;{% endblock%}">{{message}}</a>
