{% extends 'root.twig' %}

{% block content %}
	<p class="center" style="font-family: 'Lucida Console', monospace; font-size: 8em; margin: 25%;">
		<span>12</span>:<span>05</span>:<span>24</span>
	</p>
{% endblock %}
