{% extends 'root.twig' %}

{% block content %}
<h1>{% trans %}Addons{% endtrans %}</h1>
<div class="row-fluid">
	<div class="span12">
		<div class="addon-wide">
			<strong>Codename: Modern Combat</strong>
		</div>
		<div class="addon-wide">
			<strong>Clonk Infinity</strong>
		</div>
	</div>
</div>
{% endblock %}