{% extends 'root.twig' %}

{% block content %}
<div class="jumbotron">
	<div class="container">
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{% if description %}<p>{{ description }}</p>{% endif %}
	{% if raw %}{{ raw|raw }}{% endif %}
	{% if not nobuttons and site_enabled %}<p><a class="btn btn-primary btn-large" href="{{ base }}">{% trans "Return to home"%}</a></p>{% endif %}
	</div>
</div>
{% endblock %}
