{% extends 'root.twig' %}

{% set title = 'Users'|trans %}

{% block content %}
<h1>{{ title }}</h1>
<ul>
{% for user in users %}
	<li><a href="{{filename}}/{{user}}">{{ user }}</a></li>
{% endfor %}
</ul>
{% endblock %}