{% extends 'root.twig' %}

{% set title = 'Users'|trans %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{ title }}</h1>
		</div>
	</div>
	{% if users %}
		<div class="container">
			<ul class="list-group">
				{% for user in users %}
					<a href="{{base}}/users/{{user.name}}" class="list-group-item">
						{% include "functions/user.twig" with {'user' : user, 'nolink' : true} %}
					</a>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="jumbotron">
			<div class="container">
				<h1>{% trans %}No matching users{% endtrans %}</h1>
				<p>{% trans %}No user currently matches your filtering critera.{% endtrans %}</p>
			</div>
		</div>
	{% endif %}
{% endblock %}
