{% extends 'root.twig' %}

{% block content %}
<h1>{% trans %}Create addon{% endtrans %}</h1>
<div class="row-fluid">
    <div class="span4">
		<p class="alert alert-success">{% trans %}You can change any of the values later.{% endtrans %}</p>
		<form method="post" action="" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="title">{% trans %}Full Title (without version){% endtrans %}</label>
				<div class="controls">
					<input type="text" name="title" id="title" value="{{title}}" maxlength="32" required autofocus>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">{% trans %}Abbreviation (if any){% endtrans %}</label>
				<div class="controls">
					<input type="text" name="title" id="title" value="{{title}}" maxlength="6">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">{% trans %}Game title{% endtrans %}</label>
				<div class="controls">
					<select required{% if not games %} disabled{% endif %}>
						<option value="">{% trans %}Choose a game&hellip;{% endtrans %}</option>
						{% for game in games %}
							<option value="{{ game.short }}"{% if game.selected %} selected{% endif %}>{{ game.title }}</option>
						{% else %}
							<option>{% trans %}No game available{% endtrans %}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">{% trans "Create new addon" %}</button>
				</div>
			</div>
		</form>

    </div>
</div>
{% endblock %}