{% extends 'root.twig' %}

{% block content %}
	<div class="page-header">
		<div class="breakout"><a href="{{base}}/publish"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></div>
		<div class="container">
			<h1><a href="#basic">{{addontitle}}</a>
				<small>
					<a href="#basic"><span class="label label-default">{% trans %}Addon{% endtrans %}</span></a>
					<span class="glyphicon glyphicon-pencil"></span>
				</small>
			</h1>
		</div>
	</div>
	<div class="container">
		<noscript>
		<div class="alert alert-danger">{% trans %}Javascript needs to be activated in order to edit addons and releases.{% endtrans %}</div>
		</noscript>
		<ul class="nav nav-tabs" id="editAddonTabs">
			<li class="active"><a href="#basic" data-toggle="tab">{% trans "Addon" %}</a></li>
			<li><a href="#presentation" data-toggle="tab">{% trans "Presentation" %}</a></li>
			<li><a href="#releases" data-toggle="tab">{% trans "Releases" %} <span id="releases-count" class="badge">{% if releases %}{{releases|length}}{% endif %}</span></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="basic">
				{% include "publish/edit/basic.twig" %}
			</div>

			<div class="tab-pane" id="presentation">
				{% include "publish/edit/presentation.twig" %}
			</div>

			<div class="tab-pane" id="releases">
				{% include "publish/edit/releases.twig" %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	$('.tab-pane form').areYouSure({'message':translation.unsavedChanges});
{% endblock %}