{% extends 'root.twig' %}

{% set title = 'Publish'|trans %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>{{ title }} <small>{{version}}</small></h1>
	</div>
	<p>{% trans %}After registering you can easily publish your addons here and distribute them via Lorry.{% endtrans %}</p>
	<p>
		<a href="{{base}}/register" class="btn btn-success btn-phone-block btn-large">{% trans %}Register now{% endtrans %}</a>
		<a href="{{base}}/login" class="btn btn-default btn-phone-block btn-large">{% trans %}Login{% endtrans %}</a>
	</p>
</div>
{% endblock %}