# the brand to show at various points around the site
brand: Lorry
# the base site url
base: http://localhost

# global debug mode throughout the application, should always be false in production
debug: false

# main site enabling
enable:
    site: true
    registration: true
    upload: true

# short term notices
notice:
    text:
    class: danger

# default urls for links
github:
    url: https://github.com/%s
clonkforge:
    url: http://clonkforge.net/user.php?usr=%d

# admin links
admin:
    statistics: 

# directories for user data, should be writeable
upload:
    assetsize: 5M
    datasize: 128M

# legal info (displayed on the contact page)
contact:
    address: <strong>Full Name</strong>
    legal: legal@example.com
    feedback: feedback@example.com

# main persistence database
persistence:
    dsn: mysql:host=127.0.0.1;dbname=lorry
    username: lorry
    password: lorry

# job queue and underlying redis database
job:
    dsn: /home/lorry/.redis/sock

# for outgoing mails
mail:
    smtp-host: example.com
    smtp-port: 587
    smtp-encryption: tls
    username: lorry
    password: lorry
    from: lorry@example.com

# content delivery
cdn:
    key:
    secret:
    region: eu-central-1
    bucket: clonklorry

# oauth secrets
oauth:
    github:
        id:
        secret:

    google:
        id:
        secret:

    facebook:
        id:
        secret:

# raven error loggig
raven:
	dsn:
