{% set alert = attribute(alerts, selector) %}
{% if alert.message %}
	{% if alert.type %}{% set alert = alert|merge({'type':' alert-' ~ alert.type}) %}{%endif%}
	<p class="alert{{alert.type}}">
		{{ alert.message }}
	</p>
{% endif %}