<p id="oauth">
	{% if oauth.openid %}
	<a href="?remove-oauth=openid&state={{state}}#oauth" class="btn btn-default">{% trans "OpenID" %} <span class="glyphicon glyphicon-link"></span></a>
	{% else %}
	<a href="#by-openid" class="btn btn-default" data-toggle="collapse" data-target="#by-openid">{% trans "OpenID" %}</a>
	{% endif %}
	<a href="?{% if oauth.google %}remove-{% endif %}oauth=google{% if oauth.google %}&state={{state}}{% endif %}#oauth" class="btn btn-google">{% trans "Google" %}{% if oauth.google %} <span class="glyphicon glyphicon-link"></span>{% endif %}</a>
	<a href="?{% if oauth.facebook %}remove-{% endif %}oauth=facebook{% if oauth.facebook %}&state={{state}}{% endif %}#oauth" class="btn btn-facebook">{% trans "Facebook" %}{% if oauth.facebook %} <span class="glyphicon glyphicon-link"></span>{% endif %}</a>
</p>
{% if not oauth.openid %}<div class="collapse" id="by-openid">
	<form role="form" action="{{filename}}?oauth=openid" method="post" class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="openid-provider">{% trans %}OpenID url{% endtrans %}</label>
			<input type="url" class="form-control" name="openid-identity" id="openid-provider" placeholder="{% trans %}OpenID url{% endtrans %}" required>
		</div>
		<button type="submit" class="btn btn-primary">{% trans %}Confirm{% endtrans %}</button>
	</form>
</div>{% endif %}