<p>
	<a href="#" class="btn btn-openid">{% trans "OpenID" %}</a>
	<a href="#" class="btn btn-google">{% trans "Google" %}</a>
	<a href="#" class="btn btn-facebook">{% trans "Facebook" %}</a>
	<a href="#" class="btn btn-twitter">{% trans "Twitter" %}</a>
</p>