<input type="hidden" name="{{name}}" id="{{id}}">
<p><button type="button" class="btn btn-default" id="{{btn}}">{% trans %}Select image&hellip;{% endtrans %}</button></p>
<span id="message-text-uploading" class="hidden">{% trans %}Uploading&hellip;{% endtrans %}</span>