{% extends 'email/base.twig' %}

{% block subject %}{% trans %}{{brand}}: Activate your account{% endtrans %}{% endblock %}

{% block body %}
<p style="margin:0px 0px 10px">{% trans %}In order to use all features of {{brand}} you need to activate this new account.{% endtrans %}<br>

{% if not email_plain %}
<p style="margin:0px 0px 10px">{% include 'email/functions/buttons/success.twig' with {'url' : activation_url, 'message' : 'Activate account'|trans } %}</p>
{% else %}
{% trans %}Just paste the following url into your browser:{% endtrans %}

{{activation_url|raw}}
{% endif %}
{% endblock %}
