{% extends 'email/base.twig' %}

{% block subject %}{% trans %}Confirm your email address for {{brand}}{% endtrans %}{% endblock %}

{% set url = '<a href="' ~ url ~ '">' ~ url ~ '</a>' %}

{% block body %}
<p>{% trans %}You requested your email address to be changed to {{email}}.{% endtrans %}</p>

<p>{% trans %}In order to fully use your account you need to activate this new email address.{% endtrans %}<br>
{% trans %}Please open {{url}} to activate your address.{% endtrans %}</p>

{% endblock %}