<p>{% if username %}{% trans %}Hi there {{username}},{% endtrans %}{% else %}Hi there,{% endif %}</p>

{% block body %}
<p>{% trans %}No content available.{% endtrans %}</p>
{% endblock %}
--
<p>{% trans %}Sent by {{brand}}{% endtrans %}<br>
<a href="{{base}}">{{base}}</a></p>