{% extends 'email/base.twig' %}

{% block subject %}{% trans %}{{brand}} site feedback{% endtrans %}{% endblock %}

{% block body %}
<p>Feedback sent by {{sender}}:</p>

<blockquote>
	<p>"{{feedback}}"</p>
</blockquote>
{% endblock %}