{% extends 'email/base.twig' %}

{% block subject %}{% trans %}Site feedback for {{brand}}{% endtrans %}{% endblock %}

{% block body %}
<p>Feedback sent by {{sender}}:</p>

<blockquote>
	<p>"{{feedback|raw}}"</p>
</blockquote>
{% endblock %}