{% extends 'email/base.twig' %}

{% block subject %}{% trans %}One-time-login for {{brand}}{% endtrans %}{% endblock %}

{% block body %}
<p>{% trans %}You (or somebody else) requested a one-time login for your account.{% endtrans %}</p>


{% endblock %}