{% extends 'email/base.twig' %}

{% block subject %}{% trans %}{{brand}}: One-time login{% endtrans %}{% endblock %}

{% set this_link %}<a href="{{login_url}}">{% trans %}this link{% endtrans %}</a>{% endset %}

{% block body %}
    <p>{% trans %}You (or somebody else) requested a one-time login for your account.{% endtrans %}<br>
	{% trans %}Please open {{this_link}} access your account; or paste the following url into your browser:{% endtrans %}</p>

	<p><strong>{{login_url}}</strong></p>
{% endblock %}
