{% extends 'email/base.twig' %}

{% block subject %}{% trans %}Forgot {{brand}} password{% endtrans %}{% endblock %}

{% block body %}
<p style="margin:0px 0px 10px">{% trans %}You or someone else requested an email to reset your {{brand}} password.{% endtrans %}<br>

<p style="margin:0px 0px 10px">{% trans %}If you requested this email you can login without a password for a single time:{% endtrans %}<br>

{% if not email_plain %}
<p style="margin:0px 0px 10px">{% include 'email/functions/button.twig' with {'url' : reset_url, 'message' : 'Reset password'|trans } %}</p>
{% else %}
{% trans %}Just paste the following url into your browser:{% endtrans %}

{{reset_url|raw}}
{% endif %}
<br>
<p style="margin:0px 0px 10px">{% trans %}Otherwise simply ignore this email.{% endtrans %} {% trans %}Please note: this link is only valid for a short period of time.{% endtrans %}</p>
{% endblock %}
