{% extends 'email/base.twig' %}

{% block subject %}{% trans %}{{brand}}: Password reset{% endtrans %}{% endblock %}

{% block body %}
<p>{% trans %}You (or somebody else) requested a password reset for your account.{% endtrans %}</p>
{% endblock %}
