@import 'bootstrap/variables.less';

::selection {
	color: white;
	background-color: firebrick;
}

::-moz-selection {
	color: white;
	background-color: firebrick;
}

body {
	background-image: url('../img/debut_light.png');
	min-height: 100%;
}

a.text, a:hover.text, a:active.text, .panel a, .panel a:hover, .panel a:active {
	color: inherit;
	text-decoration: none;
}

/*.carousel svg {
	width: 100%;
}

.carousel-caption h3 {
	font-weight: bold;
}

.carousel-caption {
	background-color: @navbar-inverse-bg;
	padding-top: 0px;
	box-shadow: 0px 0px 50px rgb(0,0,0) inset;
}*/

.popover {
	width: 280px;
	max-width: 100%;
	margin-bottom: 60px;
}

#mainnav {
	margin-bottom: 0px;
}

.container#front {
	margin-top: 40px;
}

.navbar-brand svg {
	width: 24px;
	height: 18px;
	vertical-align: top;
	margin-right: 1px;
}

.navbar-default {
	svg rect {
		fill: @navbar-default-link-color;
	}

	a:hover svg rect {
		fill: @navbar-default-link-hover-color;
	}

	a:active svg rect {
		fill: @navbar-default-link-active-color;
	}

	a:disabled svg rect {
		fill: @navbar-default-link-disabled-color;
	}
}

.navbar-inverse {
	svg rect {
		fill: @navbar-inverse-link-color;
	}

	a:hover svg rect {
		fill: @navbar-inverse-link-hover-color;
	}

	a:active svg rect {
		fill: @navbar-inverse-link-active-color;
	}

	a:disabled svg rect {
		fill: @navbar-inverse-link-disabled-color;
	}
}

footer {
	margin-top: 20px;
}

footer span, footer span a {
	display: inline;
}

.jumbotron {
	padding: 30px 0 50px 0;

    h1 {
        font-size: 30px;
        line-height: 1.1;
    }
    
    p.help-block {
        font-size: 1em;
    }
}

#identify.jumbotron {
	margin-top: 40px;
	padding: 25px 0 50px 0;
}

.site-notice.jumbotron {
	padding: 15px 0;
	margin-bottom: 0px;
}

.site-notice p {
	margin: 0 0;
	font-size: 1.2em;
}

.page-header {
	margin-top: 15px;
}

.head img {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	.transition-transform(1s);
}

.jumbo-image {
	margin-top: 20px;
}

.head:hover img {
	.rotateY(360deg);
}

dt {
	margin-top: 8px;
}

.dl-horizontal dt, dt:first-child {
	margin-top: 0px;
}

.media-heading {
	display: inline-block;
}

.media .badge {
	vertical-align: text-bottom;
	padding: 4px 7px;
}

.media .label {
	display: inline-block;
	vertical-align: text-bottom;
	margin-top: 0px;
	font-size: 12px;
	padding: 4px 7px;
}

textarea {
	resize: vertical;
}

.media-addon img, .media-addon svg {
	width: 80px;
	height: 60px;
}

.media-addon:first-child {
	margin-top: 15px;
}

.media-addon {
	text-overflow: ellipsis;
	clear: left;

	a, a:hover, a:active {
		text-decoration: none;
	}
}

.media-heading a:first-child {
	color: black;
}

h1 small {
	.label, .badge {
		display: inline;
		vertical-align: text-top;
		font-size: 75%;
		padding: .2em .6em .3em;
		line-height: 1em;
	}
	
	.badge {
		border-radius: 20px;
	}
}

label.btn {
	width: 50%;
}

.btn-group {
	width: 100%;
}

.btn-group label img {
	margin: 0 auto;
}

.tab-pane {
	background-color: white;
	border: 1px solid #ddd;
	padding: 20px 20px 5px 20px;
	margin-top: -1px;
}

.panel-body p:last-child {
	margin-bottom: 0px;
}

h1 a, h1 a:hover, h1 a:active {
	color: inherit;
	text-decoration: none;
}

h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 6px 0;
}

.resumable-progress {
	float: right;
	margin-right: 20px;
}

.resumable-complete {
	color: green;
}

.resumable-error {
	color: red;
}

.monospace {
	font-family: monospace;
}

.badge-rage {
	background-color: #c00;
}

.badge-openclonk {
	background-color: gray;
}

.label-half-success {
	background-color: #88b688;
}

h1 a.btn {
	vertical-align: top;
}

.twitter-typeahead + .input-group-btn button {
	margin-top: -4px;
}

.nav-tabs li.disabled a {
	pointer-events: none;
	color: grey;
}

@media (max-width: @screen-xs-max) {
    .nav-tabs > li {
        float: none;
    }

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {
		border-bottom-color: #ddd;
	}

	.nav-tabs > li > a {
		border-radius: 4px;
		margin-right: 0px;
	}

	.nav-tabs {
		margin-bottom: 8px;
		border-bottom: none;
	}

	.btn {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-top: 5px;
	}
}

.breakout {
	display: none;
	color: #999;

	a {
		color: inherit;
	}

	a:active, a:hover {
		color: #777;
	}
}

@media (min-width: (@screen-lg-min + 60)) {
	.breakout {
		display: block;
		width: @screen-lg-min+10;
		margin: 0 auto;
		height: 69px;
		padding: 20px 0 10px 0;
		font-size: 26px;
		line-height: 36px;
		margin-bottom: -69px;
		vertical-align: middle;

		a {
			display: inline-block;
			padding-top: 4px;
		}
	}
}

@media (min-width: @screen-lg-min) {
	#front .carousel {
		height: 417px;
	}

	.vertical-align {
		display: flex;
		align-items: center;
	}
}

@media (min-width: @screen-md-min) {
	.sidebar h1:first-child , .sidebar h2:first-child {
		margin-top: 0px;
	}
}

.carousel-caption {
	text-shadow: #000 1px 1px 4px;
}

@import 'lorry-shipping.less';

@import 'typeahead.less';

@import 'buttons.less';

/* IE fixes */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }