{% extends 'root.twig' %}

{% block content %}
<h1>{% trans %}Lorry is&hellip;{% endtrans %}</h1>
<div class="row-fluid">
    <div class="span4">
		<h2>{% trans %}A fan site{% endtrans %}</h2>
		<p>We here are all fans of Clonk. We built this site as members of our community for the game.</p>
		<p>The game series has never really been openly advertised we wanted to create a place for new players to learn about Clonk, discover the huge database of high quality addons and help them getting right into the game.</p>
		<p><a href="{{base}}about/clonk" class="btn btn-primary">{% trans "Learn all about Clonk" %}</a></p>
    </div>
    <div class="span4">
		<h2>{% trans %}A distribution platform{% endtrans %}</h2>
		<p>This has never been done before: We want to provide Clonk players with a simple, clean interface to download new addons and always keep them up-to-date.</p>
		<p>The backend is a Content Delivery Network powered by Amazon S3 to provide excellent performance at minor costs. That's why Lorry is free and will always remain free.</p>
		<p><a href="{{base}}?greet=0" class="btn btn-primary">{% trans "Discover the addons" %}</a></p>
    </div>
    <div class="span4">
		<h2>{% trans %}An online community{% endtrans %}</h2>
		<p>The official Clonk site is not really up to date any more and fails to highlight one of the best features of Clonk as such: the awesome Community and its creations.</p>
		<p>We want to share our own creations easily and give the addon developers our important feedback - so they can make the best addons possible.</p>
		<p><a href="{{base}}register" class="btn btn-primary">{% trans "Register now"%}</a></p>
    </div>
</div>
{% endblock %}