{% extends 'root.twig' %}

{% block content %}
<h1>{% trans "Contact us" %}</h1>
<div class="row-fluid">
    <div class="span8">
		<h3>{% trans %}We &hearts; feedback{% endtrans %}</h3>
		<p>{% trans %}We here are all fans of Clonk. We built this site as members of our community for the game and want to do our best.{% endtrans %}</p>
		<p>{% trans %}If you have any wishes or should encounter any problem, do not hesitate to contact us:{% endtrans %}</p>
		<form method="post">
			<textarea required style="width: 100%; min-height: 120px; resize: vertical"></textarea>
			<button class="btn btn-primary" type="submit">{% trans "Send feedback" %}</button>
		</form>
    </div>
    <div class="span4">
		<h3>{% trans %}Legal issues{% endtrans %}</h3>
		<p><span>If you have any legal issues please do not hesitate to contact us either via our feedback form <span class="hidden-phone">to the left</span><span class="visible-phone">above</span> or via legal@clonklorry.de.</span></p>
		<p>That way we are able to quickly resolve to any problems that might occur or any content you feel might be infringing your rights.</p>
    </div>
</div>
{% endblock %}