{% extends 'root.twig' %}

{% block content %}
<h1 class="form-signin-heading">{%trans "Login" %}</h1>
<div class="row-fluid">
    <div class="span4">
		{% if login.message %}
			<div class="alert alert-error">
			{{ login.message }}
				</div>
		{% endif %}
				<form class="form-login" method="post">
					<input type="text" class="input-block-level" name="username" placeholder="{%trans "Username" %}"{% if login.username %} value="{{login.username}}"{% endif %}>
					<input type="password" class="input-block-level" name="password" placeholder="{%trans "Password" %}">
					<label class="checkbox">
						<input type="checkbox" name="remember" value="yes" checked="checked"> {%trans "Remember on this device" %}
					</label>
					<button class="btn btn-large btn-primary" type="submit">{%trans "Login" %}</button>
					<a href="#" class="btn btn-link">{%trans "Forgot your password?" %}</a>
				</form>
				<hr>
				<div class="social">
					<h4>{% trans %}Or select your linked service:{% endtrans %}</h4>
					<p>
						<a href="#" class="btn btn-openid">OpenID</a>
						<a href="#" class="btn btn-google">Google</a>
						<a href="#" class="btn btn-facebook">Facebook</a>
						<a href="#" class="btn btn-twitter">Twitter</a>
					</p>
				</div>
			</div>
		</div>
{% endblock %}