{% extends 'root.twig' %}

{% block content %}
<h1 class="form-register-heading">{%trans "Register" %}</h1>
<div class="row-fluid">
    <div class="span4">
		<form class="form-register" method="post">
			<input type="text" class="input-block-level" name="username" placeholder="{%trans "Username" %}">
			<input type="email" class="input-block-level" name="email" placeholder="{%trans "Email address" %}">
			<input type="password" class="input-block-level" name="password" placeholder="{%trans "Password" %}">
			<input type="password" class="input-block-level" name="password-repeat" placeholder="{%trans "Repeat password" %}">
			<button class="btn btn-large btn-primary" type="submit">{%trans "Register" %}</button>
			<a href="{{base}}login" class="btn btn-link">{%trans "Already registered?" %}</a>
		</form>
		<hr>
		<div class="social">
			<h4>{% trans %}Alternatively, register via:{% endtrans %}</h4>
			<p>
				<a href="#" class="btn btn-openid">OpenID</a>
				<a href="#" class="btn btn-google">Google</a>
				<a href="#" class="btn btn-facebook">Facebook</a>
				<a href="#" class="btn btn-twitter">Twitter</a>
			</p>
		</div>
	</div>
	<div class="span8">
		<hr class="hidden-desktop">
		<h4>{% trans %}Why should I register?{% endtrans %}</h4>
		<p>After registering you can instantly upload your own scenarios, comment and vote.</p>
		<p>You become part of a small but dedicated community, enjoying the game and devoting their time to it.</p>
	</div>
</div>
{% endblock %}