{% extends 'root.twig' %}

{% block content %}
<div class="row-fluid">
	<div class="span8">
		<!--<div style="height: 400px; background-color: #ddd; padding: 50px;">
			<h1 style="margin-top: 350px">CMC 1.5!</h1>
		</div>!-->

		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="active item">
					<a href="{{base}}rage/addon/moderncombat">
					<img src="http://localhost/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt>
					</a>
					<div class="carousel-caption">
						<h4>Now available: Codename: Modern Combat R1.5</h4>
						<p>The Hazard-based strategic shooter is back with its newest version. <a href="{{base}}rage/addon/moderncombat">Learn more&hellip;</a></p>
                    </div>
				</div>
				<div class="item">
					<img src="http://localhost/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt>
					<div class="carousel-caption">
						<h4>Soon on Lorry: Clonk Infinity</h4>
						<p>Basefights in the skylands and georgious graphics: Clonk Infinity is nearing completion.</p>
                    </div>
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

	</div>
	<div class="span4">
		<hr class="hidden-desktop">
		<h2>This is Lorry</h2>
		<p class="text-big">{% trans %}Lorry is the place to get the best addons for the game series Clonk.{% endtrans %}</p>
		<p>
			<a href="{{base}}about/clonk" class="btn btn-success">{% trans %}Experience Clonk{% endtrans %}</a>
			<a href="{{base}}about/lorry" class="btn">{% trans %}Learn more{% endtrans %}</a>
		</p>
		<hr>
	</div>
</div>
{% endblock %}