{% extends 'root.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
		<h1>{% trans %}Welcome to the world of Clonk!{% endtrans %}</h1>
		<p>{% trans %}Clonk is a unique 2.5-dimensional game and often referred to as a mix of "The Settlers" and "Lemmings": The core difference is the open addon format, transforming the game to anything you can imagine.{% endtrans %}</p>
    </div>
</div>
<hr>
<h2>{% trans %}Play Clonk{% endtrans %}</h2>
<div class="row-fluid">
    <div class="span4">
		<h3>{% trans %}Clonk Rage{% endtrans %}</h3>
		<p><img src="{{base}}img/logo_clonkrage.png"></p>
		<p>The classic game with hundreds of community-built, high-quality addons. Magical wars, strategic shooters and futuristic settling: Clonk Rage has it all.</p>
		<p>Sometimes the sheer selection is overwelming, so be sure to spread the word about the addons you like. Also, give them a nice upvote so they can be found more easily.</p>
		<p>
			<a href="#" class="btn btn-primary">{% trans %}Install Clonk Rage{% endtrans %}</a>
			<a href="http://www.clonk.de?lng={% trans 'en' %}" class="btn">{% trans %}Visit the official site{% endtrans %}</a>
		</p>
    </div>
    <div class="span4">
		<h3>{% trans %}OpenClonk{% endtrans %}</h3>
		<p><img src="{{base}}img/logo_openclonk.png"></p>
		<p>The opensource successor to the Clonk series, built by players and developers of the previous Clonk titles.</p>
		<p>Although the addon selection might seem limited, OpenClonk completely reimaginges a great part of the game and greatly refines the technology, now supporting three-dimensional models within the game.</p>
		<p>
			<a href="#" class="btn btn-primary">{% trans %}Install OpenClonk{% endtrans %}</a>
			<a href="http://www.openclonk.org" class="btn">{% trans %}Visit the official site{% endtrans %}</a>
		</p>
    </div>
    <div class="span4">
		<h3>{% trans %}&hellip;only just the beginning{% endtrans %}</h3>
		<p>Clonk lives from its fans, with dedicated players creating high-quality addons.</p>
		<a href="#" class="btn btn-primary">{% trans %}View a fan-made trailer{% endtrans %}</a>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span8">
		<h2>{% trans %}Create new content for Clonk{% endtrans %}</h2>
		<p>The official game development of Clonk Rage is currently halted, therefore the community is creating an open source succesor - OpenClonk.
			Both games are different and alike, but the majority of all addons have been created for Clonk Rage.
			Once you've created something awesome you can distribute it via Lorry, making it instantly available for any interested player.</p>
		<p>
			<a href="{{base}}publish/index.html" class="btn btn-success">{% trans %}Publish your addon{% endtrans %}</a>
			<a href="#" class="btn">{% trans %}Learn more{% endtrans %}</a>
		</p>
    </div>
    <div class="span4">
		<hr class="hidden-desktop">
		<h2>{% trans %}Build the next Clonk{% endtrans %}</h2>
		<p>The OpenClonk project is constantly looking for developers to help out with the next iteration of Clonk.
			If you have moderate to advanced C++-skills you should definitively be welcome in the team.</p>
		<p>
			<a href="http://forum.openclonk.org" class="btn">{% trans %}Visit the OpenClonk forum{% endtrans %}</a>
		</p>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span12">
		<h2>{% trans %}Join the community{% endtrans %}</h2>
		<p>Clonk has a very diverse community: The series appeals to all ages alike and even though the Community originally has german </p>
    </div>
</div>
{% endblock %}