{% extends 'root.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
		<h1><a href="#">{{ addon_title }}</a></h1>
		<p class="pull-right">Developed by the <a href="">CMC-Team</a></p>
		<p>Version 1.5, released on the 1st of November 2012</p>
		<div class="row-fluid">
			<div class="span4">
				<p class="padding: 0;">
					<img src="" style="width: 100%; height: 100px"><br>
					<img src="" style="padding: 0; border: 0; width: 30%; margin-left: 0; margin-right: 0; height: 38px;">
					<img src="" style="padding: 0; border: 0; width: 30%; margin-left: 5%; margin-right: 0; height: 38px;">
					<img src="" style="padding: 0; border: 0; width: 30%; margin-left: 5%; margin-right: 0; height: 38px;"><br>
				</p>
				<p><button class="btn btn-primary">Install now (incl. Hazard)</button></p>
				<p>70.3MB total</p>
			</div>
			<div class="span8">
				<p>Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in.</p>
				<p>Categories <a href="#">Shooter</a>, <a href="#">Strategy</a>, <a href="#">Arena</a>.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8">
				<h3>Rounds and Addons</h3>
				<img src="" style="width: 150px; height: 105px;">
				<img src="" style="width: 150px; height: 105px;">
				<img src="" style="width: 150px; height: 105px;">
			</div>
			<div class="span4">
				<h3>Community</h3>
				<p>State <span class="success">Active</p>
				<ul>
					<li><a href="#">Project page</a></li>
					<li><a href="#">Report a bug</a></li>
				</ul>
			</div>
		</div>
    </div>
</div>
{% endblock %}