<head>
    <meta charset="utf-8">
    <title>{% trans "Lorry" %}</title>
    <meta name="description" content="">
    <meta name="author" content="Benedict Etzel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{base}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{base}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{base}}css/lorry.min.css" rel="stylesheet">
</head>