AddDefaultCharset utf-8
#Options -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ index.php/$1 [L]

#ErrorDocument 403 /error/forbidden
#ErrorDocument 404 /error/notfound
#ErrorDocument 500 /error/generic