<form role="form" method="post" action="{{filename}}#basic">
	{% include 'functions/alert.twig' with {'selector' : 'version'} %}
	<input type="hidden" name="basic-form">
	<input type="hidden" name="state" value="{{state}}">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="version">{% trans %}Version{% endtrans %}</label>
						<input type="text" class="form-control" name="version" id="version" value="{{new_version}}" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="version">{% trans %}Original release date{% endtrans %}</label>
				<div class="row">
					<div class="col-sm-4">
						<input type="date" class="form-control" name="initial" id="initial">
					</div>
				</div>
			</div>		
		</div>
		<div class="col-md-6">

		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
		<p class="help-block">{% trans %}These settings cannot be changed once the release has been published.{% endtrans %}</p>
	</div>
</form>
