<div class="form-group">
	<label for="depencencies">{% trans %}Dependencies{% endtrans %}</label>
	<ul class="list-group" id="dependencies-loading">
		<li class="list-group-item text-muted">{% trans %}Loading dependencies&hellip;{% endtrans %}</li>
	</ul>
	<span id="message-text-dependencies-loading-failed" class="hidden">{% trans %}Error loading dependency list.{% endtrans %}</span>
	<ul class="list-group" id="dependencies-none" style="display: none;">
		<li class="list-group-item text-muted" id="dependencies-none-text">{% trans %}No dependencies added.{% endtrans %}</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="form-group">
			<label for="add-dependency">{% trans %}Addon{% endtrans %}</label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Hazard" id="add-dependency">
				<span class="input-group-btn">
					<button class="btn btn-primary" id="add-dependency-select" type="button">&#10004;</span></button>
					<button class="btn btn-default" id="add-dependency-reset" type="button">&times;</button>
				</span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label for="add-dependency-version">{% trans %}Version{% endtrans %}</label>
			<select class="form-control" id="add-dependency-version" disabled>
				<option disabled>{% trans %}Javascript needs to be enabled{% endtrans %}</option>
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-success inline" name="add-dependency-add" disabled>{% trans %}Add dependency{% endtrans %}</button>
</div>
<div class="help-block">{% trans %}Users may download the release together with it's dependencies.{% endtrans %}</div>