<div class="form-group">
	<label for="depencencies">{% trans %}Dependencies{% endtrans %}</label>
	<script>var game = '{{game}}';</script>
	<ul class="list-group" id="dependencies-loading">
		<li class="list-group-item text-muted">{% trans %}Loading dependencies&hellip;{% endtrans %}</li>
	</ul>
	<span id="message-text-dependencies-loading-failed" class="hidden">{% trans %}Error loading dependency list.{% endtrans %}</span>
	<ul class="list-group" id="dependencies-none" style="display: none;">
		<li class="list-group-item text-muted" id="dependencies-none-text">{% trans %}No dependencies added.{% endtrans %}</li>
	</ul>
</div>
<div class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Hazard" id="add-dependency">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success inline" name="add-dependency-add">{% trans %}Add addon{% endtrans %}</button>
	</div>
</div>
<div class="form-group">
	<p class="help-block">{% trans %}Users may download the release together with it's dependencies.{% endtrans %}</p>
</div>