<div class="form-group">
	<label for="files">{% trans %}Files{% endtrans %}</label>
	<script>var addon = '{{addon.id}}';
		var release = '{{version}}';</script>
		{% if enable.upload %}
		<div id="release-files-no-resumable">
			<div class="alert alert-warning">
				{% trans %}Your browser does not support uploading files to Lorry.{% endtrans %}<br>
			</div>
		</div>
	{% else %}
		<div class="alert alert-danger">{% trans %}File upload is disabled.{% endtrans %}</div>
	{% endif %}
	{% include 'functions/alert.twig' with {'selector' : 'files'} %}
	<div id="resumable">
		<span id="message-text-reselect" class="hidden">{% trans %}Select file to continue upload{% endtrans %}</span>
		<span id="message-text-uploaded" class="hidden">{% trans %}Ready to publish{% endtrans %}</span>
		<span id="message-text-continue" class="hidden">{% trans %}Can be continued{% endtrans %}</span>
		<span id="message-text-remove" class="hidden">{% trans %}Remove{% endtrans %}</span>
		<span id="message-text-confirm-remove" class="hidden">{% trans %}Are you sure you want to remove this file?{% endtrans %}</span>
		<span id="message-text-remove-failed" class="hidden">{% trans %}File could not be removed.{% endtrans %}</span>
		<span id="message-text-file-exists" class="hidden">{% trans %}File already exists.{% endtrans %}</span>
		<div id="resumable-error" class="alert alert-danger hidden"></div>
		<ul class="list-group" id="resumable-files-loading">
			<li class="list-group-item text-muted">{% trans %}Loading files&hellip;{% endtrans %}</li>
		</ul>
		<span id="message-text-files-loading-failed" class="hidden">{% trans %}Error loading file list.{% endtrans %}</span>
		<ul class="list-group" id="resumable-files-none" style="display: none;">
			<li class="list-group-item text-muted">{% trans %}No files uploaded.{% endtrans %}</li>
		</ul>
		<ul class="list-group" id="resumable-files">
		</ul>
	</div>
</div>
{% if enable.upload and can_upload %}
	<div class="form-group">
		<button type="button" id="resumable-select" class="btn btn-default" disabled>{% trans "Select file&hellip;" %}</button>
		<button type="button" id="resumable-upload" class="btn btn-success" disabled>{% trans "Upload" %}</button>
		<button type="button" id="resumable-pause" class="btn btn-success" disabled>{% trans "Pause" %}</button>
		<p class="help-block">{% trans %}Files will only be made availabe after publishing this release and cannot be changed afterwards.{% endtrans %}</p>
	</div>
{% endif %}
